{# src/Intrix/TemaBundle/Resources/views/footer.html.twig #}

{% block footer %}    
<div id="footer">
    <div class="wrapper">
        <span>&copy; Copyright 2014. {% trans %}Todos os direitos reservados. Desenvolvido por{% endtrans %}
            <a href="#" title="">Intrix Web</a>
        </span>
    </div>
</div>
{% endblock %}